@charset 'utf-8';
/* head css */

.flx_c {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header {
  padding: 1.3rem 1rem 1.5rem;
}
.theme_toggle {
  font-size: 1.3rem;
  margin-top: 7px;
}
.nav_btn_con {
  font-weight: 700;
  font-size: 1.2rem;
}
.nav_btn_con li {
  position: relative;
  margin: 0 0 0 1.2rem;
  cursor: pointer;
  transition: 0.4s;
}

.on::after {
  content: '';
  clear: both;
  position: absolute;
  width: 110%;
  height: 2px;
  left: 50%;
  bottom: -30%;
  border-radius: 20px;
  transform: translateX(-50%);
}
/* dark mode */
.dark {
  background-color: #222;
  border-bottom: 1px solid #efefef;
}
.dark .theme_toggle {
  color: #fff;
}
.dark .nav_btn_con {
  color: #f09ce5;
}
.dark .nav_btn_con li:hover {
  color: #fcc9f5;
}
.dark .on::after {
  background: #f9c8f2;
}
/* light mode */
.light {
  background-color: #fdfbfa;
  border-bottom: 1px solid #ff8f69;
}
.light .theme_toggle {
  color: #ff8f69;
}
.light .nav_btn_con {
  color: #ff8f69;
}
.light .nav_btn_con li:hover {
  color: #fab199;
}
.light .on::after {
  background: #fab199;
}
