@charset 'utf-8';
/* head css */

.flx_c {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header {
  padding: 0.8rem 0.8rem 1rem;
  background-color: #222;
  border-bottom: 1px solid #efefef;
}
.theme_toggle {
  color: #fff;
  font-size: 1.3rem;
  margin-top: 7px;
}
.nav_btn_con {
  color: #f09ce5;
  font-weight: 700;
  font-size: 1.2rem;
}
.nav_btn_con li {
  position: relative;
  margin: 0 0 0 1.2rem;
  cursor: pointer;
  transition: 0.4s;
}
.nav_btn_con li:hover {
  color: #fcc9f5;
}
.on::after {
  content: '';
  clear: both;
  position: absolute;
  width: 110%;
  height: 2px;
  background: #f9c8f2;
  left: 50%;
  bottom: -30%;
  border-radius: 20px;
  transform: translateX(-50%);
}
