@charset 'utf-8';
.input_form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  background-color: #fff;
  overflow: hidden;
  border-radius: 0.5rem;
}
.input_form input[type='text'] {
  width: 70%;
  padding: 0 0 0 0.7rem;
  font-size: 1.2rem;
  line-height: 2.2em;
}
.button {
  display: inline-block;
  width: 30%;
  font-size: 1.2rem;
  line-height: 2.2em;
  color: #fff;
  font-weight: 900;
}

/* dark */

.dark .button {
  background-color: #f09ce5;
}

/* light */
.light .button {
  background-color: #ff8b60;
}
