@charset 'utf-8';
.todo_lists {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 18rem;
  overflow: auto;
  padding: 1rem 1.5rem;
}
.todo_lists li {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 0.8rem 0;
}

.todo_lists li > label {
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 1;
  display: grid;
  grid-template-columns: 1.1em auto;
  gap: 0.5em;
  width: 90%;
}

input[type='checkbox'] {
  -webkit-appearance: none;
  appearance: none;
  background-color: #fff;
  margin: 0;
  font: inherit;
  width: 1.15em;
  height: 1.15em;
  border-radius: 0.15em;
  transform: translateY(-0.075em);
  display: grid;
  place-content: center;
  cursor: pointer;
}

.todo_lists li > label + .todo_lists li > label {
  margin-top: 1em;
}

input[type='checkbox']::before {
  clear: both;
  content: '';
  width: 0.75em;
  height: 0.7em;
  transform: scale(0);
  border: 2px;
  transform-origin: bottom left;
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
}
input[type='checkbox']:checked::before {
  transform: scale(1);
}
input[type='checkbox']:focus {
  outline-offset: max(2px, 0.15em);
}

.todo_lists button {
  display: inline-block;
  padding: 0.5em 0.6em 0.4em;
  border-radius: 50%;
  cursor: pointer;
  width: 2rem;
  height: 2rem;
}

.todo_lists button:hover svg {
  transition: 0.4s;
  transform: rotate(20deg);
}

/* dark */
.dark.todo_lists li {
  color: #fff;
}
.dark.todo_lists button {
  color: #f378e2;
  background-color: #efefef;
}
.dark.todo_lists button:hover {
  color: #c10b97;
}
.dark.todo_lists input[type='checkbox'] {
  color: #fff;
  border: 0.15em solid #fff;
}
.dark.todo_lists input[type='checkbox']:focus {
  outline: max(2px, 0.15em) solid #f09ce5;
}
.dark.todo_lists input[type='checkbox']::before {
  box-shadow: inset 2em 2em #f09ce5;
}
.dark .note {
  color: #fff;
}
/* light */
.light.todo_lists li {
  color: #232323;
}
.light.todo_lists button {
  color: #fff;
  background-color: #ff8b60;
}
.light.todo_lists button:hover {
  color: #a72c00;
}
.light.todo_lists input[type='checkbox'] {
  color: #fff;
  border: 0.1em solid #ff8b60;
}
.light.todo_lists input[type='checkbox']:focus {
  outline: max(2px, 0.15em) solid #ff8b60;
}
.light.todo_lists input[type='checkbox']::before {
  box-shadow: inset 2em 2em #ff8b60;
}
.light .note {
  color: #232323;
}
